@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik:wght@600&display=swap");
// Colors
$font-alternative-color: #fff;
$font-color: #333;

$accent-color: #ffc058;

$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

// Fonts
$primary-font-content: "Merriweather", serif;
$primary-font-headings: "Rubik", sans-serif;

// Borders
$primary-border: 3px solid #000;
